*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.Nav-and-Banner-background{
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

/* Style for Header */
nav{
    
    display: flex;
    justify-content: space-between;
    margin-left: 228px;
    margin-right: 240px;
    margin-top: 50px;
}

.nav-bar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
a{
    text-decoration: none;
}

/* Style of "Brand New Group of Architects */

.banner{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
    text-align: center;

}

.banner-header{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
    margin-top: 100px;
    margin-left: 529px;
    margin-right: 529px;
}

.discription-banner
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-left: 529px;
    margin-right: 529px;
}

.button-primary{
   color:#FFFFFF;
   font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;

}

.banner-image{
    width: 1440px;
    height: 700px;
    left: 240px;
    border-radius: 8px;
}

/* Team and Feature Section */


.features-background{
    background-color: #FFFFFF;
}

.features{
    margin-top: 85px;
    margin-left: 301px;
    margin-right: 301px;
    display: flex;
    justify-content: space-evenly;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-right: 73px;
}

.team-img img{
    height: 342px;
    width: 342px;
}

.feature{
    margin-top: 200px;
}

.head-01{
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;

}

.head-02{

    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    
}

.head-03{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;


}

.feature-paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

/* Female Architecture and More Features */

.more-features{
    margin-top: 130px;
    margin-left: 301px;
    margin-right: 301px;
    display: flex;
    justify-content: space-evenly;
}

.discription-more-features{
    margin-top: 40px;
}



.sub-des{
    font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 40px;
/* or 160% */

text-align: center;

color: #FFFFFF;

}

.discription-more{

    display: flexbox;
    margin-right: 54px;

}

.description-box{

    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 25px;
    border-radius: 5%;
    
}

.dm-head{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    padding: 30px 301px 10px 33px;

}

.dm-discription{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-left: 30px;
    padding-right: 42px;
    padding-bottom: 30px;

}
.Style-Box{
    padding: 30px;
}

.more-feature-img
{
    margin-left: 92px;
}

.button-primary-1{
    border: 0px;
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    /* or 108% */

    text-align: center;
    color: #FFFFFF;
}

/* Facts */

.facts{
    margin-left: 240px;
    margin-top: 130px;
    display: flexbox;
}


/* Summery Box */


.summery-box{

    margin-top: 108px;
    margin-left: 290px;
    margin-right: 290px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 124px;
}

.box{

    box-sizing: border-box;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;

}

.icon-design{
    padding: 45px 98px 10px 98px;
}

.number-summery-box{
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    /* padding: 0px 94px 5px 93px; */
    text-align: center;

}

.discription-summery-box{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
   text-align: center;


}

/* Sponsors */

.sponsor-pos{
    margin-top: 180px;
    margin-left: 240px;
    margin-right: 240px;
}

.sponsor-header{
   display: grid;
   grid-template-rows: repeat(1,1fr);
   text-align: center;
   grid-row-gap: 24px;
}

.sponsor-icon{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Footer Design */

.Copyright{
    margin: 130px 230px 216px 230px;
    background-color: #FFF4E7;
    padding: 39px 410px 39px 410px;
}



